.task-manager-board {
    background-color: #e2e2e2;
    height: calc(100vh - 86px);
    margin: 15px 0;
}

.space-all {
    padding: 10px;
}

.card-item.active {
    background-color: #0069d9;
    border-color: #0062cc;
    color: #fff;
}